body {
    background-image: url("july3p.gif");
    background-size: cover; /* Ajusta el tamaño del GIF */
    background-position: center; /* Centra el GIF */
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    color: aliceblue;
}

.container {
    text-align: center;

}

h1 {
    font-size: 2.5em;
    margin-bottom: 0.5em;
    animation: fadeIn 1s;
    color: white;
}

p {
    font-size: 1.2em;
    margin-bottom: 1.5em;
    animation: fadeIn 1.5s;
    color: white;
}

button {
    background-color: #e7e7e7;
    border: none;
    padding: 0.5em 1.5em;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #21a1f1;
}

#animatedBox {
    width: 100px;
    height: 100px;
    background-image: url("july3p.gif");
    background-size: cover; /* Ajusta el tamaño del GIF */
    background-position: center; /* Centra el GIF */
    margin: 20px auto;
    opacity: 0;
    transform: translateY(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#asd{
    color: white;
}